body {
    background-color: yellow;
}

button {
    margin-top: 30px;
}

.logo {
    position: relative;
    height: 200px;
    width: 300px;
    left: 20px;
}

.profilePic {
    position: absolute;
    height: 150px;
    width: 150px;
    right: 20px;
    top: 20px;
    border-radius: 100px;
}

.profile {
    display: flex;
    flex-direction: row;
}

.large-pic {
    position: relative;
    right: auto;
    left: 20px;
    height: 200px;
    width: 200px;
}

.info-profile {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-top: 30px;
}

.shadow {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.7);
}

.uploadProfilePic {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: white;
    top: 25%;
    left: 25%;
}

.close-modal {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.pending {
    display: flex;
    flex-direction: row;
}

.friends {
    display: flex;
    flex-direction: row;
}

.friend-single {
    margin: 20px;
    text-align: center;
}

.pending-single {
    margin: 20px;
    text-align: center;
}

.button-list {
    margin-top: 200px;
}
