@font-face {
    font-family: Pokemon;
        src: url('./Pokemon.ttf');
}


body {
    background-color: yellow;
    text-align: center;
    font-family: Pokemon;
}

button {
    margin-top: 30px;
    border: none;
    background-color: red;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-family: Pokemon;
    font-size: 10px;
}

textarea {
    margin-top: 30px;
}

.logo {
    position: relative;
    height: 200px;
    width: 300px;
    left: 20px;
}

.profilePic {
    /*position: absolute;*/
    height: 150px;
    width: 150px;
    /*right: 20px;
    top: 20px;*/
    border-radius: 100px;
}

.profile {
    display: flex;
    flex-direction: row;
}

.large-pic {
    position: relative;
    right: auto;
    left: 20px;
    height: 200px;
    width: 200px;
}

.info-profile {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-top: 30px;
}

.shadow {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.7);
}

.uploadProfilePic {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: white;
    top: 25%;
    left: 25%;
}

.close-modal {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.pending {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.friends {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.friend-single {
    margin: 20px;
    text-align: center;
}

.pending-single {
    margin: 20px;
    text-align: center;
}

.button-list {
    margin-top: 200px;
}

.online-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.name-online {
    margin-left: 50px;
    margin-top: 30px;
    max-width: 200px;
    position: relative;
}

.chat {
    margin-left: 10%;
    width: 80%;
    height: 600px;
    overflow-y: scroll;
    background-color: white;
}

.user-search-results {
    max-width: 200px;
    background-color: white;
}

.user-search-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 10px;
}

.ownProfile {
    left: 85%;
    margin-right: 10px;
}

.friendlist {
    margin-top: 100px;
}

.small-pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.link-pic {
    max-width: 400px;
    height: 100px;
}

.link-summary {
    display: flex;
    flex-direction: row;
}
